.panel {
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
}

.icon {
  font-size: 20px;
  padding: var(--spacing);
  margin-right: var(--spacing);
}
